.language-toggle {
  border-radius: 0.9rem;
  display: flex;
  align-items: center;
  padding: 0.6rem 0rem;
  cursor: pointer;
  width: fit-content;
  margin: 0;
  animation: fade-down 0.5s 0.4s backwards;
}

/* Style for the language text spans */
.language-toggle span {
  opacity: 0.5;
  font-weight: bold;
  transition: color 0.3s;
  position: relative;
  align-items: center;
  display: flex;
  user-select: none;
}

/* Active indicator for the active language */
.language-toggle span.active {
  opacity: 1;
}

.language-toggle .toggle {
  background-color: var(--lang-toggle-color);
  border-radius: 3.25rem;
  margin: 0.3rem;
  position: relative;
  width: 1.5rem;
  height: 0.5rem;
  transition: background-color 0.3s;
}

.language-toggle .toggle .circle {
  background-color: var(--text-color);
  border-radius: 50%;
  height: 0.75rem;
  width: 0.75rem;
  position: relative;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.3s;
}

.language-toggle .toggle.active .circle {
  left: 0.75rem;
}

.flag {
  width: 1rem;
  height: auto;
  margin: 0px 0rem 0px 0px;
  position: relative;
  transition: opacity 0.3s;
  align-items: center;
}

.language-toggle .en-flag {
  opacity: 1;
}

.language-toggle .es-flag {
  opacity: 1;
}

.language-toggle .en-flag:not(.active) {
  opacity: 0.5;
}

.language-toggle .es-flag:not(.active) {
  opacity: 0.5;
}
