.array-container {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: baseline;
  height: 200px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.array-bar {
  width: 2px;
  background-color: var(--link-color);
  margin: 0 1px 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: black;
  font-weight: bold;
}

.array-bar-value {
  display: flex;
  justify-content: center;
  margin-top: 0.3rem; /* Space between bar and value */
  font-size: 1rem; /* Adjust font size */
  color: var(--text-color); /* Color for the value text */
}

.highlight {
  background-color: orange;
}
