@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  /* Light theme colors */
  --text-color: #333333;
  --description-text-color: #310070;
  --navbar-bg: #ffffff;
  --background-color: #f7f7f7;
  --card-bg: #d8d8d8;
  --card-border: #393939;
  --lang-toggle-color: #ff6f61;
  --transition-duration: 0.3s;
  --intro-gradient: #afafffff;
  --intro-gradient2: #00837cff;
  --navbar-gradient: #7c7c7c;
  --link-color: #0000ee;
  --black-icons: invert(0%);
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  user-select: none;
}

body[data-theme="dark"] {
  /* Dark theme colors */
  --text-color: #e0e0e0;
  --navbar-bg: #181818;
  --background-color: #1e1e1e;
  --card-bg: #2c2c2c;
  --card-border: #393939;
  --lang-toggle-color: #ff1744;
  --intro-gradient: #afafff80;
  --intro-gradient2: #00837c80;
  --navbar-gradient: #181818;
  --link-color: #00ccff;
  --black-icons: invert(100%);
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color var(--transition-duration);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-width: 320px;
  flex-direction: column;
}

.app {
  background: linear-gradient(
    to bottom,
    var(--background-color) 40%,
    var(--intro-gradient2) 100%
  );
}

/* KEYFRAMES */
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(30vw) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(-30vw) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
